* 作業目標：
  1. 敘述統計量計算
  2. 運用自定義函數apply

* 作業重點：
  1. 了解敘述統計量並解釋
  2. 運用apply時須注意自定義函數寫法

* 題目 :
  * 【基本11】
     1. 根據題目給的 DataFrame 完成下列操作：
        - 計算每個不同種類 animal 的 age 的平均數
        - 計算每個不同種類 animal 的 age 的平均數
        - 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
        - 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
     2. 一個包含兩個欄位的 DataFrame，將每個數字減去
        1) 該欄位的平均數
        2) 該筆資料平均數
     3. 承上題，請問：
        1) 哪一比的資料總合最小
        2) 哪一欄位的資料總合最小
  * 【進階11-1】
     1. 對以下成績資料做分析
        - 6 號學生(student_id=6) 3 科平均分數為何？
        - 6 號學生 3 科平均分數是否有贏過班上一半的同學？
        - 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問 6 號同學 3 科成績分別是？
        - 承上題，加分後各科班平均變多少？
```
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
```

In [ ]:
import numpy as np
import pandas as pd
print( 'Numpy 版本: ', np.__version__ )
print( 'Pandas 版本: ', pd.__version__ )

Numpy 版本:  1.19.2
Pandas 版本:  1.1.3

* 【基礎11】

In [ ]:
#1
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [ ]:
print('計算每個不同種類 animal 的 age 的平均數')
for i in set(df['animal']):
    print(f'{i}\'s average age is', df[df['animal']==i]['age'].mean())

print('='*20)
print('\n將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序')
print(df.sort_values(by=['age', 'visits'], ascending=[True,False]))

print('='*20)
print('\n將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False')
df['priority'].replace({'yes':True, 'no':False}, inplace = True)
print(df)

計算每個不同種類 animal 的 age 的平均數
snake's average age is 2.5
dog's average age is 5.0
cat's average age is 2.5
====================

將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
====================

將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [ ]:
## 瘦身寫法
print('計算每個不同種類 animal 的 age 的平均數')
a = df.groupby(['animal']).mean()
print(a['age'])

print('='*20)
print('\n將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序')
print(df.sort_values(by=['age', 'visits'], ascending=[True,False]))

print('='*20)
print('\n將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False')
print(df.replace(['yes', 'no'], ['True', 'False']))

計算每個不同種類 animal 的 age 的平均數
animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
====================

將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
  animal  age  visits  priority
c  snake  0.5       2     False
f    cat  2.0       3     False
a    cat  2.5       1      True
b    cat  3.0       3      True
j    dog  3.0       1     False
g  snake  4.5       1     False
e    dog  5.0       2     False
i    dog  7.0       2     False
d    dog  NaN       3      True
h    cat  NaN       1      True
====================

將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [ ]:
print( 'Over All Mean' )
print( df.age.mean() )
print( df['age'].mean(axis=0) )

Over All Mean
3.4375
3.4375

In [ ]:
#2
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.971284  0.746441  0.359062
1  0.805622  0.372582  0.313344
2  0.161803  0.496830  0.696586
3  0.054895  0.021970  0.791641
4  0.477019  0.474193  0.416709

In [ ]:
#  該欄位的平均數
print('該欄位的平均數')
for i in df.columns[:]:
    print(f'column {i}\'s average is {df[i].mean()}')

print('='*20)
print('該筆資料平均數')    
for i in df.index[:]:
    print(f'index {i}\'s average is {df.loc[i].mean()}')

該欄位的平均數
column 0's average is 0.4941245973318854
column 1's average is 0.4224034188767515
column 2's average is 0.5154683061303176
====================
該筆資料平均數
index 0's average is 0.6922624046063858
index 1's average is 0.497182721269122
index 2's average is 0.45173977657625725
index 3's average is 0.289501742229117
index 4's average is 0.4559738925507088

In [ ]:
##瘦身寫法
print('每個數字減去該欄位的平均數')
print( df-df.mean(axis=0) )

print('='*20)
print('每個數字減去該筆資料平均數')
print( df.sub(df.mean(axis=1), axis=0) )       #加法用add
print( df.apply(lambda x: x-df.mean(axis=1)) ) #apply寫法

每個數字減去該欄位的平均數
          0         1         2
0  0.477159  0.324038 -0.156406
1  0.311497 -0.049821 -0.202125
2 -0.332321  0.074427  0.181117
3 -0.439230 -0.400433  0.276172
4 -0.017105  0.051790 -0.098759
====================
每個數字減去該筆資料平均數
          0         1         2
0  0.279021  0.054179 -0.333200
1  0.308439 -0.124600 -0.183839
2 -0.289936  0.045090  0.244846
3 -0.234607 -0.267532  0.502139
4  0.021045  0.018219 -0.039265
          0         1         2
0  0.279021  0.054179 -0.333200
1  0.308439 -0.124600 -0.183839
2 -0.289936  0.045090  0.244846
3 -0.234607 -0.267532  0.502139
4  0.021045  0.018219 -0.039265

In [ ]:
#3
print('哪一筆的資料總合最小')
df_sum_index = { i:df.loc[i].sum() for i in df.index[:] }
print( ''.join([str(i) for i in df_sum_index.keys() if df_sum_index[i]==min(df_sum_index.values())]) )

print('='*20)
print('哪一欄位的資料總合最小')
df_sum_col = { i:df[i].sum() for i in df.columns[:] }
print( ''.join([str(i) for i in df_sum_col.keys() if df_sum_col[i]==min(df_sum_col.values())]) )

哪一筆的資料總合最小
3
====================
哪一欄位的資料總合最小
1

In [ ]:
##瘦身寫法
print('哪一筆的資料總合最小')
print( df.sum(axis=1).idxmin() )

print('='*20)
print('哪一欄位的資料總合最小')
print( df.sum(axis=0).idxmin() )

哪一筆的資料總合最小
3
====================
哪一欄位的資料總合最小
1

* 【進階11-1】

In [ ]:
score_df = pd.DataFrame( [[1,56,66,70], 
                          [2,90,45,34],
                          [3,45,32,55],
                          [4,70,77,89],
                          [5,56,80,70],
                          [6,60,54,55],
                          [7,45,70,79],
                          [8,34,77,76],
                          [9,25,87,60],
                          [10,88,40,43]], columns=['student_id','math_score','english_score','chinese_score'] )

score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [ ]:
#1. 6號學生(student_id=6)3科平均分數為何?
print(score_df.loc[6].mean())
#print(score_df.mean( axis=1 ).loc[6])

56.333333333333336

In [ ]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學
score_df['average_score'] = [score_df.loc[i].mean() for i in score_df.index[:]]
print('Yes' if list(score_df.sort_values(by=['average_score']).index[:]).index(6) >= len(score_df)/2 else 'No')

No

In [ ]:
#另法
num6 = score_df.loc[6].mean()
median = (score_df.sum(axis = 1) / 3).median()

if num6 > median:
    print('Yes')
else:
    print('No')

No

In [ ]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
#score_df.drop(columns='average_score', inplace=True)
score_df.iloc[:] = score_df.iloc[:].apply(lambda x : x**(0.5)*10)
print(score_df.loc[6])

math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 6, dtype: float64

In [ ]:
#另法
score_df = score_df.apply(lambda x: x**(0.5)* 10)
score_df.loc[6]

math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 6, dtype: float64

In [ ]:
#承上題，加分後各科班平均變多少
print(score_df.loc[:].mean())
print('='*20)
print(score_df.mean())

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64
====================
math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64